<h1>NEW Posts</h1>
<%= form_with model: @post, url: posts_path, method: :post do |form| %>
<div><strong>
	<%= form.label :caption %> ~<br> </strong>
	<%= form.text_field :caption %>
</div>

<div>
	<%= form.submit "Save" %>
</div>
<% end %>
<%= link_to "Back" , root_path %>
